@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.advice-container{
  text-align: center;
  background-color: hsl(217, 19%, 24%);
  padding: 40px;
  border-radius: 15px;
  position: relative;
  width: 100%;
  max-width: 500px;
}
.advice-container p {
  color: hsl(150, 100%, 66%);
}
.advice-container #advice{
  color:  hsl(193, 38%, 86%);
  margin-block: 20px 30px;
  font-size: 28px;
  
}
img:first-of-type{
  width: 100%;
}
#dice {
  width: 24px;
  height: 24px;
  position: relative;
  bottom: -52px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  user-select: none;
}

img {
  user-select: none;
}
#dice:hover{
  box-shadow: 0 0 30px 1px hsl(150, 100%, 66%);
}
#dice:before {
  content:"";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: hsl(150, 100%, 66%);
  z-index: -1;
border-radius: 50%;
}